:root {
    --primary: rgb(73, 100, 79);
    --secondary:rgb(211, 207, 159);
    --tertiary: rgb(8, 80, 70);
    --dark: rgb(8, 24, 17);
    --light: rgb(231, 202, 156);
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2% 6% 2% 0%;
    background-color: var(--dark);
}

header h1 {
    color: var(--secondary);
    font-size: 300%;
    text-align: center;
    background-color: var(--tertiary);
    padding: 10px 20px 10px 70px;
    border-radius: 10px;
    margin-left: -10px ;
    
}

nav {
    display: flex;
   
}

nav a {
    color: var(--secondary);
    margin-left: 20px;
    margin-right: 15px;
    margin-top: 10px;
    font-size: 1.5em;
    align-content: center;
}

.background-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-size: cover;
    background-position: top;
    background-image: url("../images/background-banner.jpg");
    min-height: 400px;
    padding-top: 100px;
   
   
}

.profile-picture {
    justify-content: flex-end;
    padding: 0 50px 100px 50px;
    margin-left: 50px;
}

.profile-picture img {
    border-radius: 500px;
    flex: 1 1 100%;
    height: 80%;
    width: 80%;
  
}








.contact {
    display: flex;
    flex-wrap: wrap;
    padding: 1.5em;
    background-color: var(--dark);
    color: var(--secondary);
    font-size: 1.5em;
}

.contact1 {
    flex: 1 0 20%;
}

.contact2 {
    flex: 4 0 80%;
}

address a {
    font-size: 1.5rem;
}


