.navbar {
    margin-right: .5rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-evenly;
    padding: .5rem 1rem;
}
   
.title {
    font-size: 1.75em;
    color: var(--tertiary);
}

.nav-item {
    color: var(--tertiary);
}
    
.dropdown-item a {
    color: var(--tertiary);
}
    
.dropdown-item:hover {
    color: var(--primary);
    background-color: rgba(92, 86, 94, 0.294);
}