/* Color Palette */
:root {
  --primary: rgb(251, 202, 186);
  --secondary:rgb(147, 135, 137);
  --tertiary: rgb(92, 86, 94);
  --dark: #272727;
  --light: rgb(255, 208, 190);
  --white:#faf0fa;
  --dark-low-op: rgba(39, 39, 39, 0.281);
  --second-light: rgb(254, 214, 197);
}

body {
font-family: 'Roboto Slab', serif;
background-color: var(--dark);
font-size: 1vw;
}

header {
background-color: var(--light);
margin-bottom: -5px;
}

.title {
font-size: 1.75em;
color: var(--tertiary);
}

.navbar {
font-size: 1.25rem;
display: flex;
justify-content: space-between;
padding: .5rem 1rem;
}

.nav-item {
color: var(--tertiary);
}

.dropdown-item a {
color: var(--tertiary);
}

.dropdown-item:hover {
color: var(--primary);
background-color: var(--tertiary);
}

.dropdown-menu {
background-color: linear-gradient(var(--light), var(--second-light));
border: none;
}


.background-banner {
/* display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center; */
background-size: cover;
background-position: top; 
background-image: url("../images/background-banner.jpg");
min-height: 90vh;
}

/* profile picture */
.profile-picture {
align-items: center;
padding: 0 50px 100px 50px;
margin-right: 25%;
}

.profile-picture img {
border-radius: 500px;
/* flex: 2 0 100%; */
height: 100%;
width: 100%;
border: solid 4px var(--dark);

}

.about-me {
background-color: #faf0faa9;
border-radius: 10px;
}

.about-me-body {
font-size: 1rem;
}


/* gradient transition */
.gradient {
height: 1vh;
width: auto;
background-image: linear-gradient(var(--dark), var(--white));
}

.tech-content {
background-color: var(--white);
}

.tech-box {
border-bottom: solid var(--dark);
}

.section-title-text {
color: var(--tertiary);
font-size: 3rem;
border-bottom: solid var(--dark);
text-align: center;
padding: .5rem 1rem;

}

.logo {
width: 100px;
height: auto;
}

.logo-text {
font-size: 1.25rem;
}

.projects-title-text {
color: var(--tertiary);
font-size: 3rem;
text-align: center;
padding: .5rem 1rem;

}

.carousel {
border: solid var(--dark);
border-radius: 5px;
}

.carousel-caption {
color: var(--primary);
background-color: var(--dark-low-op);
margin-bottom: auto;
}





.gradient-bottom {
height: 10vh;
width: auto;
background: rgb(39,39,39);
background: linear-gradient(0deg, rgba(39,39,39,1) 55%, rgba(250,240,250,1) 72%);
}



@media screen and (max-width: 980px) {
.background-banner {
  min-height: 60vh;
}
.section-title-text {
  font-size: 2.25rem;
  padding: .25rem;
}
.logo {
  width: 80px;
  height: auto;
}
}

@media screen and (max-width: 768px) {
.background-banner {
  min-height: 30vh;
}
.logo {
  width: 60px;
  height: auto;
}
}
