.profile-picture {
    align-items: center;
    padding: 0 50px 100px 50px;
    margin-right: 25%;
}
        
.profile-picture img {
    border-radius: 500px;
    height: 100%;
    width: 100%;
    border: solid 4px var(--dark);
}