.background-banner {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; */
    background-size: cover;
    background-position: top; 
    background-image: url("../assets/images/background-banner.jpg");
    min-height: 90vh;
    }
    
    .about-me {
    background-color: #faf0faa9;
    border-radius: 10px;
    }
    
    .about-me-body {
    font-size: 1rem;
    }